<%= render '/header' %>

<h1><%= current_user.name %>さんの収支記録</h1>

<div>
  収入　<%= @payment %>円
</div>
<div>
  支出　<%= @income %>円
</div>

<div>
  今月の収支
</div>

<div>
  <%= link_to "詳細を見る", moneys_show_path %>
</div>

