<h1>収支記録の追加</h1>

<%= form_with model: @payment, url: moneys_new_path, method: :post do |f| %>
  <div>
    <%= f.label :日 %>
    <%= f.text_field :start_time %>
  </div>
  <div>
    <%= f.label :金額 %>
    <%= f.text_field :money %>
  </div>
<% end %>

